<footer>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <ul id="sns">
                    <li>
                        <i class="fa-brands fa-instagram"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-facebook"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-x"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-youtube"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                    </li>
                </ul>
            </div>
            <div class="col-6"></div>
        </div>
    </div>
</footer>