<footer class="">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <ul id="sns">
                    <li>
                        <a href="https://www.instagram.com/">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    </li>
                    <li>
                        <a href="https://x.com/">
                        <i class="fa-solid fa-x"></i>
                    </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    </li>
                    <li>
                        <a href="tel:+8521878200">
                        <i class="fa-solid fa-phone" ></i>
                    </a>
                    </li>
                    <li>
                        <a href="mailto:liuchaktin@gmail.com">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                    </li>
                    <li>
                        <a href="https://api.whatsapp.com/send/?phone=96013307&text&type=phone_number&app_absent=o">
                            <i class="fa-brands fa-square-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                © 2024 All Rights Reversed
            </div>
            <div class="col-4">
                <button class="button is-link modal-button btn btn-info" type="button" onClick="document.location='#top'">
                    <p>BACK TO TOP</p>
                </button>
            </div>
        </div>
    </div>
</footer>