{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul style="list-style-type: none;" id="sns">
                    <li>
                        <i class="fa-brands fa-instagram"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-facebook"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-x"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-youtube"></i>
                    </li>
                </ul>
            </div>
            <div class="col"></div>
        </div>
    </div>
</footer>