{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="listings" class="py-5">
    <div class="container">
      <h1 class="text-center mb-3">Warehouse Location of MINISTORE</h1>
      <div class="row">
        <!-- Listing 1 -->
         {% if region %}
         {% for region_card in region %}
         <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img
              class="card-img-top"
              {% if region_card.main_img.url %}
              src={{region_card.main_img.url}}
              {% else %}
              src=""
              {% endif %}
            />
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary"></h4>
                <p>
                  <h2><i class="fas fa-map-marker text-info"></i> {{region_card.title}} </h2>
                </p>
              </div>
              <hr />
              <div class="row py-2 text-dark">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> {{region_card.region}}
                </div>
                <div class="col-6">
                  <i class="fa-solid fa-location-dot"></i> {{region_card.district}}
                </div>
              </div>
              <div class="row py-2 text-dark">
                <div class="col-6">
                  <i class="fa-solid fa-phone"></i> {{region_card.phone}}
                </div>
                <div class="col-6">
                  
                </div>
              </div>
              <hr />
              <div class="row py-2 text-dark">
                <div class="col-6">
                
                </div>
              </div>
              <div class="row text-dark pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 5 days ago
                </div>
              </div>
              <hr />
              <a href="/warehouse/{{region_card.id}}" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        {% endfor %}
        {% else %}
        <h1>No Warehouse can be shown</h1>
        {% endif %}
    </div>
  </section>
{% endblock %}