{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <img src={% static "photo/Mini_Storage_rooms.jpg" %}
        width="1700px"
        height="350px"
        />
        <h2 class=" pt-4 text-center text-bold text-primary">Wong Chuk Hang - E-Tat Branch</h2>
        <h2 class="pt-4 text-center text-primary">Size and Price</h2>

    </div>
</div>
<div class="container">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Unit Size</th>
        <th>Size</th>
        <th>Monthly Rent</th>
        <th>Rent for 3 months</th>
        <th>Rent for 6 months</th>
        <th>rent for 9 months</th>
        <th>Box Status</th>
        <th>Submit Your Order</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>4 x 3</td>
        <td>12</td>
        <td>1,188</td>
        <td>3,207</td>
        <td>5,704</td>
        <td>7,484</td>
        <td>Available</td>
        <td>Order Now</td>
      </tr>
      <tr>
        <td>5 x 3</td>
        <td>15</td>
        <td>1,308</td>
        <td>3,513</td>
        <td>6,278</td>
        <td>8,744</td>
        <td>Available</td>
        <td>Order Now</td>
      </tr>
      <tr>
        <td>4 x 4</td>
        <td>16</td>
        <td>1,388</td>
        <td>3,747</td>
        <td>6,662</td>
        <td>8,744</td>
        <td>Available</td>
        <td>Order Now</td>
      </tr>
      <tr>
        <td>4 x 5</td>
        <td>20</td>
        <td>1,588</td>
        <td>4,287</td>
        <td>7,622</td>
        <td>10,004</td>
        <td>Available</td>
        <td>Order Now</td>
      </tr>
      <tr>
        <td>8 x 3</td>
        <td>24</td>
        <td>1,888</td>
        <td>5,097</td>
        <td>9,062</td>
        <td>11,894</td>
        <td>Available</td>
        <td>Order Now</td>
      </tr>
      <tr>
        <td>4 x 7</td>
        <td>28</td>
        <td>2,238</td>
        <td>6,024</td>
        <td>10,742</td>
        <td>14,099</td>
        <td>Available</td>
        <td>Order Now</td>
      </tr>
      <tr>
        <td>6 x 7</td>
        <td>42</td>
        <td>3,288</td>
        <td>8,877</td>
        <td>15,782</td>
        <td>20,714</td>
        <td>Available</td>
        <td>Order Now</td>
      </tr>
      <tr>
        <td>8 x 7</td>
        <td>56</td>
        <td>4,476</td>
        <td>12,085</td>
        <td>21,484</td>
        <td>28,198</td>
        <td>Available</td>
        <td>Order Now</td>
      </tr>
    </tbody>
  </table>
</div>

<!--location map-->

<section id="Contact information" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="py-4 text-primary">Contact Information</h2>
          <h4 class="py-4 text-danger">ABC Mini 
            storage-Wong Chuk Hang Branch
          </h4>
          
          <h6 class="text-primary">Address:</h6>
          <p class="text-primary">
            8/F., E-Tat Factory Building,
            Heung Yip Road,
            Wong Chuk Hang Road,
            Hong Kong.
          </p>
          <h6 class="text-primary">
            Opening hours:</h6>
          <p class="text-primary">
            Mon to Sun 
            8:00 - 24:00
          </p>
          <h6 class="text-primary">
            24 Hours Hotline:</h6>
          <p class="text-primary">
            8888 0000
          </p>
        </div>

        
            <div class="col-md-8">

<div style="overflow:hidden;resize:none;max-width:100%;width:1500px;height:500px;"><div id="google-maps-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/search?q=wong+chuk+hang,+E+Tat+factory+building&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="my-codefor-googlemap" href="https://www.bootstrapskins.com/themes" id="grab-map-authorization">premium bootstrap themes</a><style>#google-maps-display img{max-height:none;max-width:none!important;background:none!important;}</style></div>
            </div>
        </div>
</div></section>  

{% endblock %}