{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
$("#ordernow").click(function(){
  $("#modal fade").css("visibility","visible");
})
</script>
<div class="container-fluid">
    <div class="page-header text-center">
        <img src={{warehouse.main_img.url}}  class="img-fluid"/>
        <h2 class=" pt-4 text-bold text-primary">{{warehouse.title}}</h2>
        <h2 class="pt-4 text-primary">Size and Price</h2>

    </div>
</div>
<div class="container">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Unit Size</th>
        <th>Size</th>
        <th>Monthly Rent</th>
        <th>Rent for 3 months</th>
        <th>Rent for 6 months</th>
        <th>rent for 9 months</th>
        <th>Box Status</th>
        <th>Submit Your Order</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>4 x 3</td>
        <td>12</td>
        <td>1,188</td>
        <td>{{warehouse.threemonrent}}</td>
        <td>{{warehouse.sixmonrent}}</td>
        <td>{{warehouse.ninemonrent}}</td>
        <td>Available</td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inquiryModal">
            Order Now
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-7 bg-info">
      <h1 class="text-primary">Heading</h1>
      <p>
      {{warehouse.description}}
      </p>
    </div>
  </div>
</div>
<!--location map-->

<section id="Contact information" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="py-4 text-primary">Contact Information</h2>
          <h4 class="py-4 text-danger"> {{warehouse.title}}
          </h4>
          
          <h6 class="text-primary">Address:</h6>
          <p class="text-primary">
            8/F., E-Tat Factory Building,
            Heung Yip Road,
            Wong Chuk Hang Road,
            Hong Kong.
          </p>
          <h6 class="text-primary">
            Opening hours:</h6>
          <p class="text-primary">
            Mon to Sun 
            8:00 - 24:00
          </p>
          <h6 class="text-primary">
            24 Hours Hotline:</h6>
          <p class="text-primary">
            {{warehouse.phone}}
          </p>
        </div>

        
            <div class="col-md-8">

<div id="google-map-block">
  <div id="google-maps-display">
    <iframe id="google-map-frame" frameborder="0" src="https://www.google.com/maps/embed/v1/search?q={{warehouse.title}}&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div>
    <a class="my-codefor-googlemap" href="https://www.bootstrapskins.com/themes" id="grab-map-authorization">premium bootstrap themes</a>
            </div>
        </div>
</div>
</section>  

<div class="modal fade" id="inquiryModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          {% csrf_token %}
          {% if user.is_authenticated %}
          <input type="hidden" name="user_id" value="">
          {% else %}
          <input type="hidden" name="user_id" value="0" />
          {% endif %}
          <!-- add realtor email-->
          <input type="hidden" name="realtor_email" value="" />
          <input type="hidden" name="listing_id" value="" />
          <div class="form-group">
              <label for="property_name" class="col-form-label">Property:</label>
              <input
                type="text"
                value=""
                class="form-control"
                name="title"
              />
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" name="name" class="form-control"
              {% if user.is_authenticated %}
              value=""
              {% endif %}
            required />
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" name="email" class="form-control" 
            {% if user.is_authenticated %}
              value=""
              {% endif %}
            required />
          </div>
          <div class="form-group">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="text" name="phone" class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea name="message" class="form-control"></textarea>
          </div>
          <hr />
          <input
            type="submit"
            value="Send"
            class="btn btn-block btn-secondary"
          />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}